a, ul{
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 100px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li{
  background-color: transparent;
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 20px;
  text-align: center;
}
nav ul li:hover{
  background-color: #f60;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.produtos {
  padding: 20px;
  background-color: #fff;
}

.produtos h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.produto {
  padding: 10px;
  text-align: center;
  background-color: #dad5d5;
  border-radius: 10px;
  border: 1px solid #000;
}

.produto img {
  width: 380px;
  height: 490px;
  border-radius: 10px;
}

.produto h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.produto p {
  font-size: 16px;
  color: #e44d26;
  margin-bottom: 15px;
}

.saiba-mais {
  background-color: #f60;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.saiba-mais:hover {
  background-color: #e44d26;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #f60;
}

  